Hello <%= @user.name %>
<br>
<br>

Previous Tests :
<br>

<div><strong> ACT 72g <br></strong>

Writing 33<br>
Math 36<br>
Reading 29<br>
Science 32</div>




<%= link_to 'Take a New Test', new_test_path %>