

<div id="navbar">

<% if current_user %>
<%= 'Logged in as ' + current_user.name %><br><br>
<div id='home'><%= link_to 'User Home', user_path(current_user) %></div>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<% end %><br><br><br>

</div>