Take a Test


<div id="newTests">
<%= form_for @test do |f| %>

<div id="answerKey">Test Code: <%= collection_select(:test, :answer_key_id, @available, :id, :code) %><br><br></div>
  <div id="takenAt"></div>
  <div id="totalScore"></div>






<div id="hiddenUserId" type="hidden" value="<%=current_user.id%>"></div>







<%= render partial:'/tests/test', locals:{format: @format, f: f} %>



<% f.submit %>
<% end %>

<button id="create">Submit</button>
</div>

