
<ol id="<% section.title %> sections">
<% responses.where(section_id: section.id).each do |x| %>
<li class="list-group-item">

Your Response: <%= x.answer_choice %>

Correct Response <%= s = section.answers.find_by(question: x.question).correct_answer %>
<% if x.answer_choice == s %>
<%= "✅" %>
<% else %>
<%= "❌" %>
<% end  %><br>
<% end %>
</li>
</ol>
