
<div id="test_frame" class="new_tests col-md-6"><iframe id="newTestFrame" src="https://docs.google.com/viewer?srcid=0B2G5qRkXjY7rUEdJM0Nmbm5rYXM&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="500px" height="600px"></iframe></div>
<div id="newTests" class='test-container new_tests col-md-5 col-md-offset-1 panel panel-info'>
<%= form_for @test do |f| %>
<div class="panel-title">
<h2>Take a New Test</h2>
<div id="answerKey">Test Code: <%= collection_select(:test, :answer_key_id, @available, :id, :code, {prompt: 'Select Test'}, {:onchange => 'changeIframe()', class: "form-control"}) %></div></div>

 <div id="activeSection" type="hidden" value=0></div>

  <div id="takenAt"></div>
  <div id="totalScore"></div>



<div id="hiddenUserId" type="hidden" value="<%=current_user.id%>"></div>

<div class="panel-body">
<%= render partial:'/tests/test', locals:{format: @format, f: f} %>



<% f.submit %>
<% end %>

<button id="create" class="btn btn-primary">Submit</button>
</div>
</div>

<script>
$(function(){

  $('#math').hide()
  $('#reading').hide()
  $('#science').hide()
})

</script>
